.body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#title-text {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: #ca8484;
}



#status {
    font-size: 16px;
    color: #ffffff;
}

#function-button-box {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(57, 57, 57, 0.8);
    border-radius: 3px;
    padding: 2px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
}

#graffiti-button,#rubber-button,#text-button,#revoke-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 5px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#graffiti-button svg,#rubber-button svg,#text-button svg,#revoke-button svg {
    width: 80%;
    height: 80%;
    fill: #ffffff;
}

#reset-button,#generate-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ca8484;
    color: #ffffff;
}